.load-csv-div{
    width: 100%;
    height: 20%;
    text-align: center;
}

.load-csv-div .btn{
    width: 100%;
}

.option-btn-div{
    text-align: center;
}

.option-btn-div .btn{
    width: 100%;
    text-align: center;
}

.plot{
    text-align: center;
    padding: 20%;
    margin-left: 1px !important;
    margin-right: 1px !important;
    border: 1px solid grey ;
}

.status{
    width: 100%;
    border: 1px solid green ;
    margin: 1px;
    margin-bottom: 10px;
}

.status span{
    padding: 5px;
    margin: 5px;
}

.title {
    padding-top: 10px;
    text-align: center;
}

.container-fluid{
    
}